html  
  head
    style
      include style.css
    title= title
    script(type='text/javascript', src='./jquery-1.4.1.js')
    script(type='text/javascript', src='./coldfusion.json.js')
    script(type='text/javascript', src='./phototagger.jquery.js')
    script
      include load-tagger.js
      
  body
  h1=title
    
    each image in images
      div(class='photo-column')
        div(class='photo-container')
          img(id='photo1' src=image width=300)
          br
          br
          a(href='#' class='enable-create') Enable Create
          a(href='#' class='disable-create') Disable Create
        br
        br
      
