<!DOCTYPE html>
html(ng-app="app")
  head
   meta(charset="utf-8")
   meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
   block styles
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css")    
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo:400,600,700")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    link(rel="stylesheet" href="jquery.fancybox.min.css")
    link(rel="stylesheet" href="modal.css")
    link(rel="stylesheet" href="main.css")
    link(rel="stylesheet" href="search.css")
    
    title= title
  body#top
    - var id = 0
    div(class="page" id="controller" ng-controller="photoController")
      header
        div.pp-header
         div(class="loadingMessage" ng-if="loading")
          p
            h1 Loading...
         nav(class="navbar navbar-expand-lg navbar-light")
          div.container
            // add home link with icon
            a(href="#"): img(src="/favicon.png")
            a(class="navbar-brand" href="#") {{selectedAlbum.name}}
            
            // add search box
            div(class="search box")
                input(type="text" class="searchbox input" name="search" ng-model="searchTag" placeholder="search")
                button(type="button" class="btn btn-search" ng-click="search()")
                    i(class="fa fa-search")     
                button(type="button" class="btn btn-reset" ng-click="clearSearch()")
                    i(class="fa fa-times")
            
            // file upload link
            div(class="search box")
                input(type="text" class="searchbox input" id="uploadFile" ng-click="selectUploadFile()" placeholder="Click to upload file")                 

            // angular style file upload input box
            //div
            //    input(type="file" file-model="myFile" id="myFile")
            //    i(class="fa fa-file-image-o" style="font-size:24px" onClick="$('#myFile').click();")
            //    button(type="button" class="btn btn-search" value="Upload!" ng-Click="uploadFile()")
            //        i(class="fa fa-upload" aria-hidden="true")                                    
            
            div(class="search box")
                //label Select Album:
                select(name="albumList" class="searchbox select" id="albumList" ng-options="album.album for album in albums track by album.path" ng-model="selectedAlbum" ng-change="loadAlbum()")
            
            // add album as flat links 
            //button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation") 
            //   span.navbar-toggler-icon
            //div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
            //  ul(class="navbar-nav ml-auto")
            //    li(class="nav-item" ng-repeat="album in albums" ng-if="album.isAlbum")
            //      a(class="btn btn-outline-primary nav-link" href="?id={{album.path}}") {{album.album}}

        div.page-content
          div.container
           div.row
            div(class="col-xs-3 col-md-3" ng-if="folders.length > 0")
              ul(class="navbar-nav ml-auto")
                li(class="nav-item" ng-repeat="folder in folders")
                  a(class="btn btn-outline-primary nav-link" ng-click="setAlbum(this.folder)") {{folder.album}}
            div(class="container px-0 col-xs-9 col-md-9")
              div.pp-gallery
                div.card-columns
                  div(ng-repeat="image in photos")
                      div(class="card" ng-if="image.isPhoto")
                        span.caption
                          a(id="tag{{image.id}}" class="btn" ng-click="editImageTag(image)") {{image.tags}}
                        a(href="{{image.path}}" data-fancybox="gallery" data-caption="{{image.tags}}")
                          figure.pp-effect
                            img(ng-id="tag{{image.id}}" class="img-fluid" ng-src="{{image.path}}" alt="{{image.tags}}")
                            figcaption
                              div.h4(id="tag{{image.id}}") {{image.tags}}
                              p {{image.album}}
                      div(class="card" ng-if="image.isVideo")
                        span.caption
                          a(id="tag{{image.id}}" class="btn" ng-click="editImageTag(image)") {{image.tags}}
                        a(href="{{image.path}}" data-type="video" data-fancybox="gallery" data-caption="{{image.tags}}" data-width="640" data-height="360")
                          figure.pp-effect
                            img(ng-id="tag{{image.id}}" class="img-fluid" src="video.png" alt="{{image.tags}}")
                            figcaption
                              div.h4(id="tag{{image.id}}") {{image.tags}}
                              p {{image.album}}
                      //div(class="card" ng-if="image.isVideo")
                      //  span.caption
                      //    a(id="tag{{image.id}}" class="btn" ng-click="editImageTag(image)") {{image.tags}}
                      //  a(href="#vid{{image.id}}" data-fancybox)
                      //    figure.pp-effect
                      //      img(ng-id="tag{{image.id}}" class="img-fluid" src="video.png" alt="{{image.tags}}")
                      //      figcaption
                      //        div.h4(id="tag{{image.id}}") {{image.tags}}
                      //        p {{image.album}}
                      //  video(width="640" height="320" controls id="vid{{image.id}}" style="display:none;")
                      //      source(src="{{image.path}}" type="video/mp4")
                      div(class="card" ng-if="image.isPdf")
                        span.caption
                          a(id="tag{{image.id}}" class="btn" ng-click="editImageTag(image)") {{image.tags}}
                        a(href="javascript:;" data-fancybox data-type="iframe" data-src="{{image.path}}")
                          figure.pp-effect
                            img(ng-id="tag{{image.id}}" class="img-fluid" src="pdf.png" alt="{{image.tags}}")
                            figcaption
                              div.h4(id="tag{{image.id}}") {{image.tags}}
                              p {{image.album}}                  
    script(src="jquery/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
    
    script(src="/jquery.fancybox.min.js")
    script(src="/main.js")    
    script(src="js/ng-app.js") // load our main application
    script(src="js/controllers/photoController.js") // load up our controller
    script(src="js/directives/modalDirective.js")
    script(src="js/directives/fileModelDirective.js")
    script(src="js/services/photoService.js") // load our photo service
    script(src="js/services/modalService.js") // load our photo service
